
header {
  margin-left: 10px;
  font-weight: bolder;

}

.wrapper{
  display: flex;
  flex-wrap: wrap;
}

.wrapper li{
  /*box-sizing: border-box;*/
  border: 1px solid black;
  list-style-type: none;
}

li{
  padding: 5px;
  margin: 5px;
  flex-grow: 4;
  display: flex;
}

h1{
  font-weight: bold;
}

img{
  border-radius: 180px;
  border: 1px solid gray;
}
